{% extends 'base.html' %}
{% load static %}
{% block title %} 
Caly Hair Styling
{% endblock %}

{% block content %}



<!-- background cover -->
<div class="background-cover">
    <img class="" src="{% static 'img/bg-img.jpg' %}" alt="background image imgs">
</div>
<div class="container-fuid text-center">
    <div class="background-cover-text animate__animated animate__fadeOut">
        <div class="row">
            <div class="col-">
                <div class="caly-style">
                    <p class="caly-hair-text animate__animated animate__bounce">Caly Hair</p>
                    <span>
                        <i class="fa fa-star animate__animated animate__backInDown" aria-hidden="true"></i>
                        <p class="styling  animate__animated animate__backInDown">Styling</p>
                        <i class="fa fa-star fa-x animate__animated animate__backInDown" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- Section About -->
    <div class="container">
        <section id="about" class="introduction">
            <h1>Welcome to</h1>
            <p class="lead">Caly Hair Styling</p>
            <p>Alina was born in Focsani, Romania, were she started hairdressing at the age of 17(1999). She moved to
                London in 2003 at the age of 22 and she started working in 2005 in a Queensway, Bayswater based salon
                (George G Salon). After being a mum in 2006 she has relocated her work in a Baker Street based salon,
                Marylebone (Letitia Haute Coiffure). From 2015 she has joined HOB Elstree working as a Master Colorist.
            </p>
            <p>Alina qualified for NVQ Level 2 & 3 at Barnet College (also qualified in PTLLS) from 2008 to 2010.
                Trained
                by Loreal Professionnel in London in colour (covering colour basis and colour correction principles).
                Trained in 2015 by Wella Koleston & HOB Academy in Camden Town in colour principles by Wella.
            </p>
            <hr>
            <div class="toggle">
                <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                    Read More
                </button>
                <div class="profile-background mt-3">
                    <div class="collapse" id="collapseExample">
                        <div class="row">
                            <div class="col-md-6 animate__animated animate__fadeInLeft">
                                <img src="{% static 'img/profile.jpg' %}" class="profile-img" alt="">
                            </div>

                            <div class="col-md-6 animate__animated animate__fadeInRight">
                                <p>
                                    Throughout the years, the passion for hairdressing, especially colour was inspired
                                    by London’s diversity of cultures & nationalities which made the job full of
                                    interesting possibilities.
                                    Colouring hair means complementing the client’s facial tribe, natural undertones and
                                    is allowing Alina to create a tailored service for every need, want & lifestyle.
                                    Having had access to great training, with hard work, patience, perseverance,
                                    effective communication, listening skills, passion for hairdressing and being part
                                    of fantastic salon teams, Alina is confidently able to offer you a great variety of
                                    hairdressing services.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Section Gallery -->
    <div class="container">
        <section id="gallery" class="gallery">
            <h2>Photo Gallery</h2>
            <p>
                A hairdresser is a person who's occupation is to cut and style hair. Visuals are essential in helping
                achieving your final image.
            </p>
            <div class="wrapper">
                <div class="gallery-container w-3">
                    <div class="gallery-item">
                        <div class="image">
                            <img src="{% static 'img/gallery/img-1.jpeg' %}" class="item" id="current">
                        </div>
                        <div class="text">Meches</div>
                    </div>
                </div>

                <div class="gallery-container">
                    <div class="gallery-item">
                        <div class="image imgs">
                            <img src="{% static 'img/gallery/img002.jpg' %}" class="item">
                        </div>
                        <div class="text">Sombre</div>
                    </div>
                </div>

                <div class="gallery-container">
                    <div class="gallery-item">
                        <div class="image imgs">
                            <img src="{% static 'img/gallery/img-11.jpeg' %}" class="item">
                        </div>
                        <div class="text">Ash-Lites</div>
                    </div>
                </div>

                <div class="gallery-container">
                    <div class="gallery-item">
                        <div class="image imgs">
                            <img src="{% static 'img/gallery/img-22.jpeg' %}" class="item">
                        </div>
                        <div class="text">Rose-Blonde</div>
                    </div>
                </div>

                <div class="gallery-container">
                    <div class="gallery-item">
                        <div class="image imgs">
                            <img src="{% static 'img/gallery/img5.jpg' %}" class="item">
                        </div>
                        <div class="text">Toffe-Lites</div>
                    </div>
                </div>

                <!-- Main picture -->
                <div class="gallery-container">
                    <div class="gallery-item">
                        <div class="image imgs">
                            <img src="{% static 'img/gallery/img-27.jpeg' %}" class="main-pic">
                        </div>
                        <div class="text">Pink & Grey</div>
                    </div>
                </div>

                <div class="gallery-container">
                    <div class="gallery-item">
                        <div class="image imgs">
                            <img src="{% static 'img/gallery/img-28.jpeg' %}" class="item">
                        </div>
                        <div class="text">Vibrant-Reds</div>
                    </div>
                </div>

                <div class="gallery-container">
                    <div class="gallery-item">
                        <div class="image imgs">
                            <img src="{% static 'img/gallery/img-6.jpeg' %}" class="item">
                        </div>
                        <div class="text">Rose-Pink</div>
                    </div>
                </div>

                <div class="gallery-container">
                    <div class="gallery-item">
                        <div class="image imgs">
                            <img src="{% static 'img/gallery/img-30.jpeg' %}" class="item">
                        </div>
                        <div class="text">Brown & Reds</div>
                    </div>
                </div>

                <div class="gallery-container">
                    <div class="gallery-item">
                        <div class="image imgs">
                            <img src="{% static 'img/gallery/img-14.jpeg' %}" class="item">
                        </div>
                        <div class="text">Ash & Purple</div>
                    </div>
                </div>

                <div class="gallery-container">
                    <div class="gallery-item">
                        <div class="image imgs">
                            <img src="{% static 'img/gallery/img-33.jpg' %}" class="item">
                        </div>
                        <div class="text">Soft-Beige</div>
                    </div>
                </div>

                <div class="gallery-container">
                    <div class="gallery-item">
                        <div class="image imgs">
                            <img src="{% static 'img/gallery/img001.jpg' %}" class="item">
                        </div>
                        <div class="text">Copper & Gold</div>
                    </div>
                </div>
                <div class="gallery-container">
                    <div class="gallery-item">
                        <div class="image imgs">
                            <img src="{% static 'img/gallery/img-9.jpeg' %}" class="item">
                        </div>
                        <div class="text">Hair-Art</div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Section Testimonials -->
    <!-- <div class="container">
        <section class="testimonials">
            <h3>What People Say?</h3>
            <span class="reviews">Caly Experiences</span>
            <div id="carouselExampleControls" class="carousel slide mt-3" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                </ol>
                <div class="jumbotron">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="stars">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="text-muted">
                                <p>Always really happy when Alina does my hair, fab colourist, wonderful blowdry and the
                                    only
                                    strightening treatment that works for me! Wouldn't hesitate in recommending her
                                    services
                                    also just started cutting my hair too.
                                </p>
                                <p>Julia Miles</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="stars">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="text-muted">
                                <p>I met Alina 5 years ago and not only has she been my hairdresser since, but also
                                    become very close to my heart. Alina is just brilliant-such a warm and engaging
                                    person. She always knows what cut suits me best. She's amazing with colour/highlites
                                    and straightening. My hair has never looked so healthy and conditioned. I've always
                                    wanted to find a hairdresser I could trust. I couldnt be happier.

                                </p>
                                <p>Priya Patel</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="stars">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="text-muted">
                                <p>Alina is an excellent and highly experienced hairdresser. She was the only
                                    hairdresser able to turn my dark hair into blonde succsefully! I have been seeing
                                    Alina for over 10 years and would never go to anyone else. Her prices are reasonable
                                    so its no problem to get all sort of treatments for your hair! Alina is also bright
                                    and bubbly so its a pleasure to have your hair done!
                                </p>
                                <p>Laura Dubiner</p>
                            </div>
                        </div>
                    </div>
            </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>
    </div> -->

    <!-- Section Services -->
    <div class="container">
        <section id="services" class="price-list">
            <h4>Price List</h4>
            <Accordion price list>
                <div class="accordion mt-3" id="accordionExample">
                    <!-- <Collapse One Colours -->
                    <div class="card first-row">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Colour<i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                {% for cl in colour %}
                                <p>{{ cl.name }} <i class="fa fa-gbp mr-1" aria-hidden="true"></i>{{ cl.price }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Collapse Two Cutting & Stlying-->
                    <div class="card first-row">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Cutting & Styling<i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                {% for cut in cutting %}
                                <p>{{ cut.name }} <i class="fa fa-gbp mr-1" aria-hidden="true"></i>{{ cut.price }}</p>

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Collapse Three Hightlight-->
                    <div class="card secound-row">
                        <div class="card-header" id="headingFour">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                    Highlight<i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                {% for hl in highlights %}
                                <p>{{ hl.name }} <i class="fa fa-gbp mr-1" aria-hidden="true"></i>{{ hl.price }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Collapse Four Toners -->
                    <div class="card secound-row">
                        <div class="card-header" id="headingFive">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                    Toner<i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                {% for tn in toners %}
                                <p>{{ tn.name }} <i class="fa fa-gbp mr-1" aria-hidden="true"></i>{{ tn.price }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Collapse Five Treatment -->
                    <div class="card secound-row">
                        <div class="card-header" id="headingSix">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                                    Treatment<i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                {% for tm in treatment %}
                                <p>{{ tm.name }} <i class="fa fa-gbp mr-1" aria-hidden="true"></i>{{ tm.price }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Collapse Six  -->
                    <div class="card first-row">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Up-Styling<i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                {% for st in styling %}
                                <p>{{ st.name }} <i class="fa fa-gbp mr-1" aria-hidden="true"></i>{{ st.price }}</p>

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Accordion price list -->
        </section>
    </div>
</div>

{% endblock %}